<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <title>
        <%= htmlWebpackPlugin.options.title %>
    </title>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <div id="rootElement"></div>
</body>

</html>