body {
  background: #001f3f;
  font-family: 'Roboto', sans-serif;
}
* {
  box-sizing: border-box;
}

/* Main container */
.wrapper {
  display: grid;
  grid-gap: 20px;
  padding: 0 20px 20px 20px;
  grid-auto-rows: minmax(100px, auto);
  overflow: hidden;
  width: 100%;
}


/* Search section on top of the page */
.searchSection {
  grid-row: 1;
  display: grid;
  grid-auto-columns: auto 1fr auto;
  grid-gap: 20px;
  padding: 20px 0;
  padding-bottom: 40px;
  border-bottom: 1px solid rgba(230, 230, 232, .8);
}

.searchInput {
  grid-column: 2;
  padding: 10px;
  margin-left: 20px;
  font-size: 26px;
  border: solid 1px rgb(255, 133, 27);
  transition: all 0.3s;
  color: #06000a;
  width:100%;
}

@media(max-width:768px){
  .searchInput {
  font-size:100%;
  }
}

.searchInput:focus {
  box-shadow: inset 1px 1px 2px 0 #c9c9c9;
}

.logo {
  grid-column: 1;
  color: #c43235;
  font-weight: bold;
  font-size: 64px;
}


/* Movies tiles */
.tilesSection {
  grid-row: 2;
  color: #fff;
  list-style: none;
  display: grid;
  grid-gap: 25px;
  width: 100%;
  margin: 0;
  margin-top: 30px;
  padding: 0;
  grid-row-gap: 25px;
  grid-template-columns: repeat(5, 1fr);
}


@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.tile {
  animation: fadein .25s;
  transition-duration: .2s;
  height: 400px;
  position: relative;
}

.tile:hover{
  transform: scale(1.1);
}


.tileImg {
  display: block;
  object-fit: cover;
  width: 100%;
  height: 100%;
}


@media (max-width:767px) { 
  .tilesSection{
    grid-template-columns: repeat(2, 1fr);
  }

.tile{
  height: 250px;
}
}


@media (min-width:768px) and (max-width:1199px) { 
  .tilesSection{
    grid-template-columns: repeat(4, 1fr);
  }
}


/* Message component */
.message {
  font-size: 64px;
  line-height: 1.5;
  color: #e6e6e8;
  padding: 60px 0;
}


/* Button component */
.btn {
  color: #ffffff;
  font-size: 24px;
  background: #c43235;
  padding: 20px 20px 20px 20px;
  text-decoration: none;
  transition:all .2s;
  border:none;
}
@media (max-width:767px) { 
.btn{
  font-size:100%;
}
}

.btn:hover {
  background: #910002;
  text-decoration: none;
}

.btn:disabled{
  cursor: not-allowed;
  opacity: .5;
}

/** Pagination component */
.pagination{
  color:#fff;
  text-align: center;
  margin-top:10px;
}
.pagination span{
  margin:0 20px;
  opacity: .8;
}